* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E0DDCF;
    font-family: 'Avenir', 'Geneva', 'Helvetica', sans-serif;

    font-size: 16px;
}
h1, h2, p {
    text-align: center;
    padding: 0.5em 0.25em;
}

/* Header */
header {
    background-color: #333745;
    border-bottom: 0.75em solid #FE5F55;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: #fff;
    padding: 1em;
}
h1 {
    padding: 3em auto;

}

/* Main */
main {
    padding: 1em;
}
figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    padding: 1em 3em;
}
.again {
    padding: 4em 0.5em 0.5em 0.5em;
}
section {
    background-color: #fff;
    border: 0.25em solid #333745;
    border-radius: 1em;
    box-shadow: 0 1em 1em #999;
    margin: 2em auto;
    padding: 0.5em;
    width: 90%;
}

/* Form */
form {
    text-align: center;
    max-width: 60em;
    margin: 1em auto;
}
fieldset {
    padding: 1em;
}
input, label {
    margin: 1em 0;
}
input {
    padding: 0.75em 0.1em 0.75em 1em;

}
label {
    padding: 0.75em 1em 0.75em 0.1em;
}
input[type="submit"] {
    margin: 2em;
}

@media screen and (min-width: 45em) {
    img {
        padding: 3em;
    }
    section {
        width: 70%;
    }
}
