h1, p {
  text-align: center;
}

input[type="radio"] {
  display: block;
}

#play-again, a {
  padding: 4em;
  margin: 4em;
}

@media screen and (min-width: 45em) {
  input[type="radio"] {
    display: inline;
  }
}
